{% load static %}
{% load backend_tags %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Administrator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assetsbknd/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assetsbknd/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetsbknd/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assetsbknd/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home_page' %}" class="logo d-flex align-items-center">
        <!--<img src="{% static 'assetsbknd/img/logo.png' %}" alt="">-->
        <span class="d-none d-lg-block">สสจ.กระบี่</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell" style="font-size:30px;"></i>
            <span class="badge bg-primary badge-number">{% count_all_news %}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              คุณมี {% count_all_news %} การแจ้งเตือน
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>#</h4>
                <p>=</p>
                <p>-</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <!-- start แจ้งซ่อม Notification Nav -->
      
      {% if user.is_authenticated and user.profileuser.usergroup == 'admin' %}

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="ri ri-tools-fill" style="font-size:30px;"></i>
            <span class="badge bg-danger badge-number">{% count_all_repair %}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              คุณมี {% count_all_repair %} การแจ้งซ่อม
              <a href="{% url 'showallrepair_page' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">ดูทั้งหมด</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% show_all_fix as fix_list  %}
            {% for fx in fix_list %}
            
            <li class="message-item">
              <a href="{% url 'repairresultsave_page' fx.id %}">
                <img src="{{fx.owner.photo.url}}" alt="" class="rounded-circle">
                <div>
                  <p><i class="ri-calendar-event-line">&nbsp{{fx.datestart}}</i></p>
                  <p><i class="ri-account-box-line">&nbsp{{fx.owner}}</i></p>                  
                  <p><i class="ri ri-tools-fill" style="color:orangered;">&nbsp{{fx.repaircase}}</i></p>
                  <p><i class="ri-organization-chart">&nbsp{{fx.owner.sections}}</i></p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% endfor %}  
          

          </ul><!-- End Messages Dropdown Items -->

        </li>
        {% endif %}
        <!-- End แจ้งซ่อม Messages Nav -->

      
      {% if user.is_authenticated and user.profileuser.usergroup  %}

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="ri-hand-heart-line" style="font-size:30px;"></i>
            <span class="badge bg-warning badge-number">{% AllBorrow %}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              คุณมี {% AllBorrow %} รายการขอยืมอุปกรณ์
              <a href="{% url 'showallborrow_page' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">ดูทั้งหมด</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
             
          

          </ul><!-- End Messages Dropdown Items -->

        </li>
        {% endif %}
        <!-- End แจ้งซ่อม Messages Nav -->




        <li class="nav-item dropdown pe-3">           

           {% if user.is_authenticated %}

            <a  href="{% url 'userprofile_page' %}" class="nav-link nav-profile d-flex align-items-center pe-0"  data-bs-toggle="dropdown" >
              <img src="{{user.profileuser.photo.url}}" alt="Profile" class="rounded-circle">
              
            </a><!-- End Profile Iamge Icon -->
           
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

              {% if user.is_authenticated and user.profileuser.usergroup == 'admin' or user.profileuser.usergroup == 'editer' or user.profileuser.usergroup == 'reporter' %}
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url  'com_management_page' %}">
                  <i class="bi bi-display"></i>
                  <span>เพิ่มอุปกรณ์ของฉัน</span>

                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url  'deviceprofile_page'%}">
                  <i class="bi bi-display"></i>
                  <span>อุปกรณ์ของฉัน</span>

                </a>
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url  'borrowdevicesave_page' %}">
                  <i class="ri-macbook-line"></i>
                  <span>ยืมอุปกรณ์</span>

                </a>
              </li>


              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-calendar2-check"></i>
                  <span>สิ่งที่ต้องทำวันนี้</span>

                </a>
              </li>
              {% endif %}

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'userprofile_page' %}">
                <i class="bi bi-person-square"></i>
                <span>โปรไฟล์</span>

              </a>
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>ออกจากระบบ</span>

              </a>
            </li>

          {% else %}

              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}" >
                  <img src="assets/img/profile-img.jpg" alt="" class="rounded-circle">
                  <span class="d-none d-md-block dropdown-toggle ps-2">เข้าสู่ระบบ</span>
              </a><!-- End Profile Iamge Icon -->

            
         
          {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'itadmin_page' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


 <!-- start tables Nav --> 
      {% if user.is_authenticated and user.profileuser.usergroup == 'admin' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>สำหรับแอดมิน</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>        
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li><!-- computer accessory -->
            <a href="{% url  'com_management_page' %}">
              <i class="bi bi-circle"></i><span>ระบบบริหารคอมพิวเตอร์</span>
            </a>
          </li>

          <li><!-- cyber alert -->
            <a href="{% url 'cybersecurity_management_page' %}">
              <i class="bi bi-circle"></i><span></span>ระบบแจ้ง Cyber Security
            </a>
          </li>

          <li><!-- cyber policy -->
            <a href="{% url 'addcyberpolicy_page' %}">

              <i class="bi bi-circle"></i><span></span>ระบบประกาศนโยบาย
            </a>
          </li>

          <li><!-- cyber policy -->
            <a href="{% url 'showalluser_page' %}">

              <i class="bi bi-circle"></i><span></span>รายชื่อผู้ใช้งาน
            </a>
          </li>
          
          

        </ul>
      </li>
      {% endif %}
      <!-- End Tables Nav -->

    {% if user.is_authenticated and user.profileuser.usergroup == 'admin' or user.profileuser.usergroup == 'editer' %}

  <!-- menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>การตั้งค่าเว็บไซต์</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'headersetting_page' %}">
              <i class="bi bi-circle"></i><span>ตั้งค่าส่วนหัวเว็บไซต์</span>
            </a>
          </li>

          <li>
            <a href="{% url 'footersetting_page' %}">
              <i class="bi bi-circle"></i><span>ตั้งค่ารูปทีมผู้บริหาร</span>
            </a>
          </li>


        
        </ul>
          
            
      </li><!-- End Components Nav -->
      {% endif %}
  
  <!-- Start Forms Nav -->    
  
      {% if user.is_authenticated and user.profileuser.usergroup == 'admin' or user.profileuser.usergroup == 'editer' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>ตั้งค่าข้อมูลพื้นฐานเว็บไซต์</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

           
    
          <li>
            <a href="{% url 'fontaweasome_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่ม FontAweasome</span>
            </a>
          </li>
          

          <li>
            <a href="{% url 'newscategory_page' %}" >
              <i class="bi bi-circle"></i><span>เพิ่ม กลุ่มบทความ</span>
            </a>
          </li>
          <li>
            <a href="{% url 'sectionbk_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่ม กลุ่มงานหน่วยงาน</span>
            </a>
          </li>
          <li>
            <a href="{% url 'adsbanner_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่ม Banner ประชาสัมพันธ์</span>
            </a>
          </li>

          <li>
            <a href="{% url 'external-link_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่ม ลิงค์หน่วยงานอื่นๆ</span>
            </a>
          </li>

          <li>
            <a href="{% url 'addourservice_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่ม บริการหน่วยงาน</span>
            </a>
          </li>

          <li>
            <a href="{% url 'addofficecenter_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่มโปรแกรมสำนักงาน</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Forms Nav --> 

      {% endif %}
  

       

      <!-- Start Forms Nav -->    
      {% if user.is_authenticated and user.profileuser.usergroup == 'admin'  or user.profileuser.usergroup == 'reporter' %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms2-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>โมดูลบันทึกข้อมูลสำหรับเจ้าหน้าที่</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addnewform_page' %}">
              <i class="bi bi-circle"></i><span>โมดูลลงข่าว</span>
            </a>
          </li>
          <li>
            <a href="{% url 'addfiledownload_page' %}">
              <i class="bi bi-circle"></i><span>โมดูลฝากเอกสาร/ประกาศ/ประกวดราคา/จัดซื้อจัดจ้าง/รับสมัครงาน/โอนย้าย</span>
            </a>
          </li>
          <li>
            <a href="{% url 'addconference_page' %}">
              <i class="bi bi-circle"></i><span>โมดูลเอกสารการประชุม</span>
            </a>
          </li>
         
           <li><!--aboutus@home.html-->
            <a href="{% url 'addartical_page'%}">
              <i class="bi bi-circle"></i><span>โมดูลบทความสุขภาพ</span>
            </a>
          </li>

            <li><!--onepage.html-->
            <a href="{% url 'onepagebk_page' %}">
              <i class="bi bi-circle"></i><span>โมดูล OnePage</span>
            </a>
          </li>
          <li><!--form model Com requests -->
            <a href="{% url 'showcomreq_page' %}">
              <i class="bi bi-circle"></i><span>โมดูลขอสนับสนุนเครื่องคอมพิวเตอร์</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>...</span>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
      <!-- End Forms Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#trainee" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>โมดูลสำหรับนักศึกษาฝึกงาน</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="trainee" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'addtrainee_page' %}">
              <i class="bi bi-circle"></i><span>ลงทะบียนนักศึกษาฝึกงาน</span>
            </a>
            <a href="{% url 'showtrainee_page' %}">
              <i class="bi bi-circle"></i><span>ทะเบียนนักศึกษาฝึกงาน</span>
            </a>
            <a href="{% url 'addworkreport_page' %}">
              <i class="bi bi-circle"></i><span>เพิ่มใบงานนักศึกษา</span>
            </a>
            <a href="{% url 'allworkreportview_page' %}">
              <i class="bi bi-circle"></i><span>รายงานการปฎิบัติงาน</span>
            </a>

          </li>
        </ul>

         <li class="nav-item">

          <a class="nav-link collapsed" href="{% url 'home_page'%}">
            <i class="bi bi-journal-text"></i><span>สรุปบันทึกวิดีโอการประชุม AI</span>
        
        </li>
        <li class="nav-item">

          <a class="nav-link collapsed" href="{% url 'home_page'%}">
            <i class="bi bi-journal-text"></i><span>หน้าเว็บหลัก</span>
        
        </li>
    </ul>

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'itadmin_page' %}">Home</a></li>
          
        </ol>
      </nav>
    </div><!-- End Page Title -->


  <!-- ======= block content ======= -->
  {% block content %}



       <!--


            #########  #########
            #          #
            #          #
            #          #
            #
     
            ##########


       -->




  {% endblock content %}
  <!-- End block content -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
      <p>{% hello_footer_tag %}</p>
    </div>

    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assetsbknd/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assetsbknd/js/main.js' %}"></script>

</body>

</html>