{% extends 'cmsapp/base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>บริการ สสจ.กระบี่</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li>บริการ สสจ.กระบี่</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">
          {% for s in service %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{{s.image1.url}}" alt="" class="img-fluid">
              </div>

              <p class="post-category">{{s.reporter}} &nbsp {{s.date}}</p>

              <h2 class="title">
                <a href="{% url 'postdetails_page' s.id %}">{{s.title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{{s.section.photosect.url}}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">{{s.section.sectionsname}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{s.msg}}</time>
                  </p>
                </div>
              </div>

            </article>

          </div>
          {% endfor %}<!-- End post list item -->

          <!-- End post list item -->

     

       


        </div><!-- End blog posts list -->

        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% endblock content %}