{% extends 'cmsapp_backend/backend_base.html' %}
{% load static %}
{% block content %}
{{ form.media }}
<div class="card shadow-sm mb-4">
  <div class="card-header bg-primary text-white">
    <h5 class="mb-0">
      <i class="fa-solid fa-bullhorn"></i> เพิ่มเอกสารประกอบประกาศต่างๆ
    </h5>
  </div>
  <div class="card-body">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert text-center mt-3 alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <div class="table-responsive">
        <table class="table table-borderless">
          {{ form.as_table }}
        </table>
      </div>

      <div class="text-start mt-3">
        <button type="submit" class="btn btn-success">
          <i class="fa-regular fa-floppy-disk"></i> เพิ่มประกาศ
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock content %}
