{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ลงทะเบียนผู้ใช้งาน - สสจ.กระบี่</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assetsbknd/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assetsbknd/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetsbknd/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assetsbknd/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assetsbknd/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assetsbknd/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">สสจ.กระบี่</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">ลงทะเบียนผู้ใช้งาน</h5>
                    <p class="text-center small">กรุณากรอกข้อมูลเพื่อลงทะเบียน</p>
                  </div>
                  <!--NAME-->  


<form class="form-control" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert text-center mt-3 alert-{{ message.tags }}">{{ message }} <a href="{% url 'login'%}">เข้า login</a></div>
    {% endfor %}
  {% endif %}

  <table>
    {{ register.as_table }}
  </table>



  <div class="row col-lg-8 mt-3" style="text-align: right;">
    <div class="col-lg-8">
      <button type="submit" class="btn btn-outline-success">
        <i class="fa-regular fa-floppy-disk"></i>&nbsp;ลงทะเบียน
      </button>
    </div>
  </div>
</form>


                </div>
              </div>

              
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assetsbknd/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assetsbknd/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assetsbknd/js/main.js' %}"></script>

<!-- <script>
function refreshCaptcha() {
  const img = document.querySelector('img.captcha');
  if (img) {
    // รีโหลดภาพด้วยการเปลี่ยน query string เพื่อหลบ cache
    const newSrc = img.src.split('?')[0] + '?reload=' + new Date().getTime();
    img.setAttribute('src', newSrc);
  } else {
    console.warn("ไม่พบ CAPTCHA image");
  }
}
</script> -->



</body>

</html>