{% extends 'cmsapp_backend/backend_base.html' %}
{% load static %}
{% block content %}

<div class="row col-lg-12">
    <h5>
        <i class="ri-calendar-event-line">
            เพิ่มบันทึกการปรับปรุงห้อง คอมพิวเตอร์ Server
        </i>
    </h5>
    <ul class="nav">
        <li class="nav-item">
            <a aria-current="page" class="nav-link active " href="{% url 'addserver_page'%}">
                เพิ่มเครื่องคอมพิวเตอร์เซิร์ฟเวอร์
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'servermainten_page'%}">
                เพิ่มบันทึกการบำรุงรักษาเครือง Server
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'itemservermainten_page'%}">
                รายการบำรุงรักษาเครือง Server
            </a>
        </li>
    </ul>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            เพิ่มเครื่องคอมพิวเตอร์เซิร์ฟเวอร์
                        </h5>
                        <form action="" class="form-control" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{ serverdiagform.media }}
                            <table>
                                {{ serverdiagform.as_table }}
                            </table>
                            <br>
                                <div class="row col-lg-8" style=" text-align: left;">
                                    <div class="col-lg-8 ">
                                        <button class="btn btn-warning" type="submit">
                                            <i class="ri-file-edit-line">
                                                บันทึกข้อมูล
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>
    {% endblock content %}

#summernote install dont forget
</br>